<div style="margin: auto 0">
  <h2 style="font-family: sans-serif;">Connexion à My2A</h2>
  <p style="font-family: sans-serif;">Si vous possédez déjà un compte ENPC, merci de bien vouloir vous connecter via ce
    dernier en cliquant sur "Se connecter avec son compte ENPC".</p>
  <form method="post">
    {% csrf_token %}
    <form role="form" class="form-horizontal" method="post" action="">{% csrf_token %}
      <div class="form-group">
        <div class="input-group">          
          <input style="height: 40px;margin-bottom: 20px;width: 400px;" id="mail"
            name="mail" placeholder="Adresse email" type="text" />
            <br />
          <input type="password" style="height: 40px;margin-bottom: 20px;width: 400px;" id="password"
            name="password" placeholder="Mot de passe" value="" type="text" />
        </div>
        <p style="font-family: sans-serif;">{{ error }}</p>
        <input type="submit"
          style="font-size: 18px; margin-bottom: 20px; cursor: pointer;border: none;background-color: #4ea8f2; padding: 10px; text-decoration: none; color: white; font-weight: bold; font-family: sans-serif;margin-top: 20px"
          value="Se connecter sans compte ENPC" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </form>
  <a href="/cas/login/"
    style="font-size: 18px;background-color: #4ea8f2; padding: 10px; text-decoration: none; color: white; font-weight: bold; font-family: sans-serif;">Se
    connecter avec son compte ENPC</a>
</div>